<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Table: {{ table_name }}</title>
    </head>
    <body>
        <header>
            <h1>Table: {{ table_name }}</h1>
            <p><a href="/">Home</a></p>
        </header>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            {% for header in table_headers %}
                            <td>{{ header }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_data %}
                        <tr>
                            {% for col in row %}
                            <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
        <footer><a href="/">Home</a></footer>
    </body>
</html>
